* {
    padding: 0;
    margin: 0;
    color: #ffffff;
}

html {
    font-family: Roboto, sans-serif;
}

.weather {
    width: 100%;
    min-height: 100vh;
}

html[data-theme="day"] .weather,
.weather {
    background: -webkit-gradient(linear, left bottom, left top, from(#3594bf), to(rgba(255, 255, 255, 0))), #53a6cb;
    background: linear-gradient(360deg, #3594bf 0%, rgba(255, 255, 255, 0) 100%), #53a6cb;
}

html[data-theme="night"] .weather {
    background: -webkit-gradient(linear, left bottom, left top, from(#55707e), to(rgba(255, 255, 255, 0))), #042232;
    background: linear-gradient(360deg, #55707e 0%, rgba(255, 255, 255, 0) 100%), #042232;
}

.weather__inner {
    max-width: 900px;
    margin: 0 auto;
    padding: 1em;
}

.current {
    text-align: center;
    margin-bottom: 2em;
}

.current__city {
    font-size: 3em;
}

.current__description {
    font-size: 1.5em;
}

.current__temperature {
    font-size: 4em;
}

.forecast {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 2em;
}

.forecast__item {
    text-align: center;
}

.forecast__time, .forecast__icon {
    margin-bottom: 1em;
}

.forecast__icon {
    width: 50px;
    height: 50px;
}

.forecast__temperature {
    font-size: 1.5em;
}

.details__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 2em;
}

.details__item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.details__name {
    margin-bottom: 1em;
}

.details__value {
    font-size: 1.5em;
}

html.transition,
html.transition * {
    -webkit-transition: all 2000ms !important;
    transition: all 2000ms !important;
    -webkit-transition-delay: 0 !important;
    transition-delay: 0 !important;
}

.forecast__icon {
    background-size: 50px;
    background-repeat: no-repeat;
}

._01d {
    background-image: url("https://openweathermap.org/img/wn/01d@2x.png");
}

._02d {
    background-image: url("https://openweathermap.org/img/wn/02d@2x.png");
}

._01n {
    background-image: url("https://openweathermap.org/img/wn/01n@2x.png");
}

._02n {
    background-image: url("https://openweathermap.org/img/wn/02n@2x.png");
}

._03d {
    background-image: url("https://openweathermap.org/img/wn/03d@2x.png");
}

._03n {
    background-image: url("https://openweathermap.org/img/wn/03n@2x.png");
}

._04d {
    background-image: url("https://openweathermap.org/img/wn/04d@2x.png");
}

._04n {
    background-image: url("https://openweathermap.org/img/wn/04n@2x.png");
}

._09d {
    background-image: url("https://openweathermap.org/img/wn/09d@2x.png");
}

._09n {
    background-image: url("https://openweathermap.org/img/wn/09n@2x.png");
}

._10d {
    background-image: url("https://openweathermap.org/img/wn/10d@2x.png");
}

._10n {
    background-image: url("https://openweathermap.org/img/wn/10d@2x.png");
}

._11d {
    background-image: url("https://openweathermap.org/img/wn/11d@2x.png");
}

._11n {
    background-image: url("https://openweathermap.org/img/wn/11n@2x.png");
}

._13d {
    background-image: url("https://openweathermap.org/img/wn/13d@2x.png");
}

._13n {
    background-image: url("https://openweathermap.org/img/wn/13n@2x.png");
}

._50d {
    background-image: url("https://openweathermap.org/img/wn/50d@2x.png");
}

._50n {
    background-image: url("https://openweathermap.org/img/wn/50n@2x.png");
}

/*# sourceMappingURL=main.css.map */
.close-button {
    /* Reset */
    background-color: transparent;
    border-color: transparent;

    /* Cursor */
    cursor: pointer;

    /* Size */
    height: 3rem;
    width: 3rem;

    /* Used to position the inner */
    position: relative;
}

.close-button__line {
    /* Background color */
    background-color: #d1d5db;

    /* Position */
    position: absolute;

    /* Size */
    height: 1px;
    width: 100%;
}

.close-button__line--first {
    /* Position */
    left: 0px;
    top: 50%;
    transform: translate(0%, -50%) rotate(45deg);

    /* Size */
    height: 1px;
    width: 100%;
}

.close-button__line--second {
    /* Position */
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0%) rotate(45deg);

    /* Size */
    height: 100%;
    width: 1px;
}